/* GLOBAL REGLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(54, 140, 111);
    
}

.cv-body {    
    display: flex;
    width: 90%;
    flex-direction: column;
    background: whitesmoke;
    margin: 3rem auto;
}

h1{
    color: rgb(59, 107, 11);
    font-size: 2.8rem;
    margin: 0 2rem;
}

h2 {
    font-size: 2.2rem;
    color: rgb(52, 92, 12);
    text-transform: uppercase;
    padding: 1rem 0;
    border-bottom: 0.2rem dashed rgb(54, 140, 111);
    margin-bottom: 1rem;
}
h3{
    font-size: 1.8rem;
    text-transform:uppercase;
}
p, li{
    font-size: 1.6rem;
}


/*CV REGLES*/

#cv {
    display: flex;
}

#cv , #main {
    margin: 1rem 2rem;
}

#header {
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
}

/* Contact regles */

.mailbox {
    display: flex;
}

#side{
    width: 30%;
}

#side .undefined p {
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(52, 92, 12);
}

a{
    color: rgb(59, 107, 11);
    font-weight: bold;
    font-size: 1.4rem;

}
.reseaux{
    padding-left: 1rem;
}

.photo, .contacts, h1, main  {
    border-bottom: 0.3rem solid rgb(54, 140, 111);
    padding-bottom: 1rem;
}

.innerSection {
    border-bottom: 0.2rem dashed rgb(54, 140, 111);
    padding-bottom: 1rem;
}



.photo img {
    width: 100%;
    height: auto;
    background: black;
    border-radius: 1rem;
    
}

/* competence regles*/


.detail {
    list-style:disc;
    padding-left:2.2rem;
}
/* main regles*/

#main{
    width: 70%;
}

#main h2 {
   
    border-top: 0.2rem solid rgb(54, 140, 111);
  
}
.undefined {
    margin-bottom: 1rem;
}

.section {
    margin-bottom: 1rem;
}
.section h2 {
    margin-bottom: 0.5rem;
}

.innerSection  h3 {
    color:rgb(54, 140, 111);
}
.innerSection {
    margin-bottom: 2rem;
    
}


/* media queries */

@media  screen and (max-width:1280px) {
    html {
        font-size: 50%;
    }
    
}

@media  screen and (max-width:890px) {
    html {
        font-size: 40%;
    }
    
}

@media  screen and (max-width:768px) {
    html {
        font-size: 50%;
    }

    #cv {
        display: flex;
        flex-wrap: wrap;
        
    }
    #main{
        width: 100%;
    }

    #side{
        width: 100%;
        padding-left: 2rem;
    }
    
}


