*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Poppins;
}


body{
    font-size: 1.4erm;
}


.haut, .gauche, .droite, .milieu {
    padding: 0.5rem;
}

.haut {
    background: red;
    min-height: 15vh;
}

.content {
    display: grid;
    min-height:85vh;
    grid-template-columns: 15% 75% 15%;
}

.gauche {
    background: lightblue;
    
}

.milieu {
    background: rgb(79, 185, 79);
    
}

.droite{
    background: rgb(103, 34, 34);
   
}