*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    font-size: 62.5%;
    font-family: Poppins;
}


body{
    height: 100vh;
    font-size: 1.4erm;
}

.haut, .bas{
    min-height: 11.5vh;
    background: rgb(10, 141, 130);
}


.haut, .bas, .milieu, .menu {
    padding: 0.5rem;
}


.menu{
    background: rgb(108, 22, 114);
    min-height: 5vh; 
}

.milieu {
    background: rgb(230, 153, 9);
    min-height: 68vh;
    margin: 1.5rem;
}


