*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

html {
    min-height: 100vh;
    font-size: 62.5%;
    font-family: Poppins;
}

.haut, .gauche, .milieu {
    padding: 0.5rem;
}


.haut {
    background: red;
    height: 15vh;
}

.content {
    display: grid;
    grid-template-columns: 15% 85%;
    min-height:85vh;
}

.gauche {
    background: lightblue;
}

.milieu {
    background: rgb(79, 185, 79);
}