*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    font-size: 62.5%;
    font-family: Poppins;
}


body{
    font-size: 1.4erm;
}


.bas, .gauche, .droite {
    padding: 0.5rem;
}

.bas {
    background: rgb(230, 153, 9);
    height: 15vh;
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
    height:85vh;
}

.gauche {
    background: rgb(10, 141, 130);
   
}



.droite{
    background: rgb(108, 22, 114);
   
}