*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    font-size: 62.5%;
    font-family: Poppins;
}


body{
    height: 100vh;
    font-size: 1.4erm;
    display: grid;
    grid-template-rows: 15vh 10vh 1fr 15vh;
}

.haut, .bas{

    background: rgb(10, 141, 130);
}


.haut, .bas, .milieu, .menu {
    padding: 0.5rem;
}


.menu{
    background: rgb(108, 22, 114);
  
}

.milieu {
    background: rgb(230, 153, 9);
    margin: 2rem;
 
}


