*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100vh;
    font-size: 62.5%;
    color: whitesmoke;
}



body{
    min-height: 100vh;
    background: rgb(222, 175, 175);
    font-family: Poppins;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
}


.menu, .haut, .bas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.haut, .bas {
    min-height: 10.5vh;
    
}

.haut {
    background:  rgb(108, 22, 114);
    
    
    
}

.menu{
    background: rgb(60, 11, 222);
    min-height: 5vh; 
    padding: 0.3rem;
    font-size: 1.4rem;
  
}

.bas {
    background: rgb(120, 121, 121);
    
    
}

.milieu {
    background: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    margin: 1.5rem;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem;
    
}

.box-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.4rem;
    padding: 0.4rem 0 0 0.4rem ;
    

}

.box-2{
    display: flex;
    align-items: center;
    justify-content: center;
}



.rouge {
    background: red;
}

.jaune {
    background: rgb(255, 196, 0);
}

.vert {
    background: green;
}

.marron {
    background: brown;
}



