*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    font-size: 62.5%;
    font-family: Poppins;
}


body{
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85vh 15vh;
}


.bas, .gauche, .droite {
    padding: 0.5rem;
}

.gauche {
    background: rgb(10, 141, 130);
    grid-column: 1/2;  
}



.droite{
    background: rgb(108, 22, 114);
    grid-column: 2/3;
   

}

.bas {
    background: rgb(230, 153, 9);
   grid-column: -3/-1;
}